:root {
    --square-borders: 5px solid;
    --square-dimensions: 150px;
}

body {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    font-family: sans-serif;
}

#container {
    display: grid;
    grid-template: repeat(3, var(--square-dimensions)) / repeat(3, var(--square-dimensions));
}

.square {
    font-size: var(--square-dimensions);
    text-align: center;
    line-height: var(--square-dimensions);
}

.center {
    border-right: var(--square-borders);
    border-left: var(--square-borders);
}

.middle {
    border-top: var(--square-borders);
    border-bottom: var(--square-borders);
}